
*{padding: 0;margin: 0;list-style: none;font-size: 16px;}
		body{font-family: Arial,"Microsoft YaHei",sans-serif;}
		html,body{height: 100%;overflow: hidden;min-width: 1000px;min-height: 650px;}
		nav{position: fixed;top:0;left: 0;z-index: 1000;line-height: 40px;width:100%;background-color: #d2d4d5;opacity: 0.5;overflow: hidden;}
		nav ul li{margin-right: 2%;}
		nav ul li a{text-decoration: none;color: #333;}
		#container,.sections,.section{height: 100%;position: relative;}
		#section0,#section1,#section2,#section3,#section4{background-size: cover;background-position: 50% 50%;}
		#section0{background-image: url("http://chuantu.biz/t6/205/1515981540x-1566688712.jpg");color: #CCFF99;text-shadow:1px 1px 1px #333;}
		#section1{color: #fff;text-shadow:1px 1px 1px #333;background-image: url("http://chuantu.biz/t6/205/1515981898x-1404775485.jpg");}
		#section2{background-image: url("http://chuantu.biz/t6/205/1515982200x-1404775485.jpg");color: #fff;text-shadow:1px 1px 1px #666;}
		#section3{color: #008283;background-image: url("http://chuantu.biz/t6/205/1515981540x-1566688712.jpg");text-shadow:1px 1px 1px #fff;}
		#section4{color: #008283;background-image: url("http://chuantu.biz/t6/205/1515981898x-1404775485.jpg");text-shadow:1px 1px 1px #fff;}
		#section2{color: #666;}
		.left{float: left;}
		.right{float: right;}
		h1{font-size: 4em;font-weight: normal;}
		#section2 span{color: #f00;}
		.intro{position: absolute;top: 50%;width: 100%;-webkit-transform: translateY(-50%);transform: translateY(-50%);text-align: center;}
		.pages{position:fixed;list-style: none;}
		.vertical.pages{right: 10px;top: 50%;}
		.horizontal.pages{left: 50%;bottom: 10px;}
		.pages li{width: 8px;height: 8px;border-radius: 50%;background: #fff;margin: 10px 5px;cursor: pointer;}
		.horizontal.pages li{display: inline-block;vertical-align: middle;}
		.pages li.active{width: 14px;height: 14px;border: 2px solid #FFFE00;background: none;margin-left: 0;}
		#section0 .title{-webkit-transform: translateX(-100%);transform: translateX(-100%);-webkit-animation: sectitle0 1s ease-in-out 100ms forwards;animation: sectitle0 1s ease-in-out 100ms forwards;}
		#section0 .container div{-webkit-transform: translateX(100%);transform: translateX(100%);
			-webkit-animation: sec0 1s ease-in-out 100ms forwards;animation: sec0 1s ease-in-out 100ms forwards;}
		@-webkit-keyframes sectitle0{
			0%{-webkit-transform: translateX(-100%);transform: translateX(-100%);}
			100%{-webkit-transform: translateX(0);transform: translateX(0);
			}
		}
		@keyframes sectitle0{
			0%{-webkit-transform: translateX(-100%);transform: translateX(-100%);}
			100%{-webkit-transform: translateX(0);transform: translateX(0);}}
		@-webkit-keyframes sec0{
			0%{-webkit-transform: translateX(100%);transform: translateX(100%);}
			100%{-webkit-transform: translateX(0);transform: translateX(0);}
		}
		@keyframes sec0{
			0%{-webkit-transform: translateX(100%);transform: translateX(100%);}
			100%{-webkit-transform: translateX(0);transform: translateX(0);}
		}
		.con-nav{position:absolute;bottom:0;left:50%;margin-left:-10%; width:20%;height: 14px;line-height: 20px;}
		.about div{border: 2px dashed #CCC;height: 160px;width: 160px;border-radius: 50%;margin:10% 2%;position: relative;}
		#adout-my{color: #0099CC;font-size: 2rem;}
		.about div:hover{width: 200px;height: 200px; border: 4px dashed #CCFF99;}
		.about div:hover span{width:200%;font-size: 3rem;margin-left: -50%;color: #999;}
		.about div:hover img{width: 200px;height: 200px;}
		.about div span{position: absolute;top:40%;width: 100%;left: 0%;text-align: center;}
		.about div img{width: 160px;height: 160px;position: absolute;left: 0;border-radius: 50%;}
		.skills{width: 70%;overflow: hidden;margin:5% 15%;text-align: center;border: 1px solid #000;border-radius: 10px;transition:all 0.2s ease-in-out;}
		.skills li{width: 15%;height: 240px;overflow: hidden;}
		.skills li a{display: block;width:100%;height: 240px;position: relative;overflow: hidden;}
		.skills li a .skills-con{width: 100%;height: 100%;margin-top: 50%;color: #006600;font-size: 2.5rem;}
		.skills li a .skills-js{margin-top: 5%;transform:translateX(40px);}
		.skills li a .line{position: absolute;right: 0;top:0;width: 0;height:240px;border-right: 1px dashed #000;}
		.skills li a .mask{width: 100%;height: 100%;background-color: #CCC;opacity: 0.3;position: absolute;top: 0;left: 0;}
		.skills li.big{width: 25%;}
		.skills li.big a .skills-con{width: 40%;height: 100%;margin-top: 30%;font-size:2rem;}
		.skills li.big a .skills-js{width: 60%;height: 100%;text-shadow:none;font-weight: bold;color: #555;}
		.skills li.big a:hover .skills-js{transform:translateX(0);transition:transform 0.1s ease-in-out  0.5s;-o-transform:translateX(0);-o-transition:transform 0.1s ease-in-out  0.5s;-webkit-transform:translateX(0);-webkit-transition:transform 0.1s ease-in-out  0.5s;-moz-transform:translateX(0);-moz-transition:transform 0.1s ease-in-out  0.5s;-ms-transform:translateX(0);-ms-transition:transform 0.1s ease-in-out  0.5s;}
		.skills li.big a .mask{opacity: 0;}
 		.work{overflow: hidden;margin-top: 4%;}
		#work-con{display: table-cell;vertical-align: middle;margin-top: 2rem;}
		.reels{width: 100%;height:100%;overflow: hidden;position: relative;}
		.reels-con{overflow: hidden;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
		.reels-con li{width: 100%;height: 100%;float: left;padding-top: 10%;}
		.reels h1{position: absolute;top: 10%;left: 36%;z-index: 1000;}
		.reels-con li .reels-con-img{overflow: hidden;height: 100%;padding-top: 10%;padding-left: 10%;position: relative;}
		.reels-con li .reels-con-txt{padding-top: 5%;}
		.reels-con li .reels-con-txt p{width:70%;color: #333;}
		.reels-con li .reels-con-img img{width: 70%;height: 300px;} 
		.reels-con li .reels-con-img img:hover{transform:scale(1.2,3);transition:all 0.5s ease-in-out 0.2s;z-index: 10000;position: absolute;} 
		.reels-con li .reels-con-img img:nth-of-type(1){position: absolute;left: 5%;top: 5%;}
		.reels-con li .reels-con-img img:nth-of-type(2){position: absolute;left: 10%;top: 15%;}
		.reels-con li .reels-con-img img:nth-of-type(3){position: absolute;left: 15%;top: 25%;}
		.reels-con li .reels-con-img img:nth-of-type(4){position: absolute;left: 20%;top: 35%;}
		.reels-con li .reels-con-img img:nth-of-type(5){position: absolute;left: 25%;top: 40%;}
		#reels-2{}
		#reels-3{}
		#reels-nav{position: absolute;left: 45%;bottom: 10%;}
		#reels-nav a{display: block;width: 16px;height: 16px;border: 1px solid #CCC;border-radius: 50%;background-color: #383cf1;opacity: 0.5;margin: 0 10px;}
		.contact{width: 80%;border: 2px solid #FFF;border-radius: 10px;padding: 10%;margin-left: 10%;margin-top: 4%;overflow: hidden;}
		.contact-txt li{line-height: 3rem;}
		.contact-txt li a{font-size: 2rem;}
		#contact-img{width: 16rem;height: 16rem;overflow: hidden;}
		#contact-img img{width: 16rem;height: 16rem;}
